{% extends 'base.html' %}
{% block title %} Password Reset {% endblock title %}
{% block content %}
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">

<div class="container mx-auto my-8" style="padding-top: 70px; margin-top: 70px;">
    <div class="max-w-lg mx-auto bg-white rounded-lg shadow-lg p-6">
        {% if validlink %}
            <h3 class="text-2xl font-semibold text-center mb-4">Reset Your Password</h3>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <ul>
                        {% for field, errors in form.errors.items %}
                            {% for error in errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <div class="mb-4">
                    <label class="block text-sm font-semibold mb-1" for="id_new_password1">New Password</label>
                    <input type="password" name="new_password1" autocomplete="new-password"
                           class="form-input block w-full rounded-md border-gray-300 focus:border-blue-400 focus:ring focus:ring-blue-400" required id="id_new_password1"
                           placeholder="Enter password"/>
                </div>
                <div class="mb-4">
                    <label class="block text-sm font-semibold mb-1" for="id_new_password2">New Password Confirmation</label>
                    <input type="password" name="new_password2" autocomplete="new-password"
                           required id="id_new_password2" class="form-input block w-full rounded-md border-gray-300 focus:border-blue-400 focus:ring focus:ring-blue-400"
                           placeholder="Confirm password"/>
                </div>
                <div class="mb-6">
                    <button type="submit" class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring focus:ring-blue-400">Reset Password</button>
                </div>
            </form>
        {% else %}
            <div class="alert alert-warning">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
            </div>
        {% endif %}
    </div>
</div>
{% endblock content %}
