{% extends 'base.html' %}



{% block content %}
	<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <div class="container" style="padding-top: 70px; margin-top: 70px;">
        {% for post in posts %}
		<div class="post block">
			<h2 class="subtitle">{{ post.title }}</h2>

			<small>Posted at {{ post.date_added }}</small>

			<p>{{ post.intro | safe }}</p>
            <a href="{% url 'patt_detail' post.slug %}">Read more</a>
		</div>
	{% endfor %}
</div>
    </body>
    </html>
{% endblock %}